<form #thisForm="ngForm">
    <label>
        By title:
        <input [(ngModel)]="query.Title" name="title" type="text">
    </label>
    <br>
    <label>
        By ID:
        <input [(ngModel)]="query.Id" name="id" type="text">
    </label>
    <br>
    <label>
        By author:
        <input [(ngModel)]="query.Author" name="author" type="text">
    </label>
    <br>
    <input type="button" value="Search" (click)="search(query)">
</form>
<short-book-list [class]='class' [query]='typedQuery'></short-book-list>